.saveButton {
  width: 80px;
  height: 40px;
  float: right;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  background: #003366;
  border-radius: 4px;
}

.form-label {
  margin-bottom: 10px;
  font-weight: bold;
}

.form-control {
  margin-bottom: 20px;
  font-size: 20px;
}
.input-file-button{
  width: 100px;
  height: 60px;
  font-size: 15px;
  text-align: center;
  padding: 6px 25px;
  font-weight: bold;
  background-color:#003366;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}