.box {
  width: 200px;
  height: 200px;
  border-radius: 70%;
  overflow: hidden;
  margin-right: 20px;
  float: left;
}

.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.personal {
  margin-left: 50px;
  display: inline-block;
}

h3 {
  color: #003366;
  font-weight: bold;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 20px;
  margin-bottom: 0px;
}

.graduation {
  margin-top: 50px;
  text-align: left;
}

.career {
  margin-bottom: 20px;
  text-align: right;
}

.skill {
  margin-bottom: 30px;
}

.zt-skill-bar {
  color: #fff;
  font-size: 15px;
  line-height: 25px;
  height: 25px;
  margin-bottom: 5px;

  background-color: rgba(0, 0, 0, 0.1);

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;

}

.zt-skill-bar * {
  webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.zt-skill-bar div {
  background-color: #003366;
  position: relative;
  padding-left: 25px;
  width: 0;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

.zt-skill-bar span {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 5px 0 10px;
  background-color: #1a1a1a;

  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}

.zt-skill-bar span:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 50%;
  left: -3px;
  margin-top: -3px;
  background-color: #1a1a1a;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.field {
  margin-bottom: 20px;
}

.certificate {
  margin-bottom: 20px;
}
